// variables
// Customise bootstrap here, and set site-wide variables. Refer to
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// for things to override.

// Set the primarys colour to green.
$red: #aa0e0e !default;
$blue: #060aca !default;
$green: #0d5f02 !default;
$dark-pink: #810838 !default;
$primary: $dark-pink !default;